.root
	margin 0 auto
	border none
	border-radius 0
	background transparent
	-webkit-appearance none
	outline 0
	border-bottom 2px solid rgba(255, 255, 255, 0.3)
	transition .3s
	box-shadow none!important
	height 56px
	line-height 56px
	padding 0
	font-size 48px
	font-weight 300
	color rgba(255, 255, 255, 0.9)
	display block
	width 100%
