.root
	padding 16px 0
	background linear-gradient(0deg, rgb(34, 80, 193) 50%, rgb(45, 113, 248) 50%)

	@media (min-width 768px)
		background linear-gradient(90deg, rgb(45, 113, 248) 50%, rgb(34, 80, 193) 50%)
		padding 48px 0

.layout
	display flex
	flex-direction column
	justify-content space-around

	@media (min-width 768px)
		flex-direction row

	& > *
		width 100%
		padding 16px
		box-sizing border-box
		display flex
		flex-direction column
		align-items flex-end
		position relative

		&:first-child
			&:after
				content ''
				position absolute

				@media (max-width 767px)
					bottom -10px
					left 50%
					transform translateX(-50%)
					border-left 12px solid transparent
					border-right 12px solid transparent
					border-top 12px solid rgb(45, 113, 248)

				@media (min-width 768px)
					right -10px
					top 50%
					transform translateY(-50%)
					border-top 12px solid transparent
					border-bottom 12px solid transparent
					border-left 12px solid rgb(45, 113, 248)

		@media (min-width 768px)
			width 50%
			padding 32px 32px 32px 16px

.button
	position absolute
	right 0
	top 0

	@media (min-width 768px)
		position relative
