.root
	display flex
	flex-direction column

	& > * + *
		margin-top 20px

.controls
	display flex
	flex-direction row

	& > * + *
		margin-left 20px

.info
	color rgba(255, 255, 255, 0.6)
	display flex
	flex-direction row
	justify-content space-between
	font-size 14px
