.root
	border 0
	cursor pointer
	margin 0
	display inline-flex
	outline 0
	padding 0
	position relative
	align-items center
	user-select none
	vertical-align middle
	justify-content center
	text-decoration none
	background-color transparent
	appearance none
	color rgba(255, 255, 255, 0.8)
	font-size 0.875rem
	min-width 64px
	box-sizing border-box
	font-family "Roboto", "Helvetica", "Arial", sans-serif
	font-weight 500
	line-height 1.75
	border-radius 4px

	&:disabled
		color rgba(255, 255, 255, 0.3)
